@import url(./normalize.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-accent: #71abfe;
    --color-accent-light: rgb(200, 194, 245);
    --color-dark: rgb(33, 32, 41);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 1.4;
    font-weight: 300;
}

body {
    padding-top: 5rem;
    background-color: var(--color-dark);
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover,
a:active,
a:visited {
    color: var(--color-accent-light);
}

input[name="radio-control"] {
    position: absolute;
    visibility: hidden;
}

.slider {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr minmax(min-content, 2rem);
    margin: 0 auto;
    width: max(min(65vw, 720px), 320px);
    overflow: hidden;
    row-gap: 2rem;
}

.slider__container {
    display: flex;
    grid-column: 1/5;
    width: 400%;
    align-items: center;
}

.descr__container {
    display: flex;
    grid-column: 1/5;
    width: 400%;
}

.slide {
    display: flex;
    width: 25%;
    transition: all 0.15s ease-in-out;
}

.slide img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.descr {
    width: 25%;
    font-size: clamp(1.2rem, 1.2rem + 0.4vw, 2rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.controls {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
}

.controls label {
    font-size: 0;
    padding: 1.2rem;
    cursor: pointer;
}

.controls label::after {
    content: "";
    display: block;
    width: clamp(1.6rem, 1.6rem + 1vw, 3.2rem);
    height: clamp(1.6rem, 1.6rem + 1vw, 3.2rem);
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

.controls label:hover::after {
    background-color: #ffffff;
    border-color: #ffffff;
}

.controls label:active::after {
    transform: scale(0.85);
}

#radio-1:checked ~ .slider__container .slide-1,
#radio-1:checked ~ .slider__container .descr-1 { margin-left: 0; }
#radio-1:checked ~ .slider__container .descr-1 { 
    margin-left: 0; 
    opacity: 1;
}
#radio-1:checked ~ .controls label[for="radio-1"]::after { background: transparent; }

#radio-2:checked ~ .slider__container .slide-1,
#radio-2:checked ~ .slider__container .descr-1 { margin-left: -25%; }
#radio-2:checked ~ .slider__container .descr-2 { opacity: 1; }
#radio-2:checked ~ .controls label[for="radio-2"]::after { background: transparent; }

#radio-3:checked ~ .slider__container .slide-1,
#radio-3:checked ~ .slider__container .descr-1 { margin-left: -50%; }
#radio-3:checked ~ .slider__container .descr-3 { opacity: 1; }
#radio-3:checked ~ .controls label[for="radio-3"]::after { background: transparent; }

#radio-4:checked ~ .slider__container .slide-1,
#radio-4:checked ~ .slider__container .descr-1 { margin-left: -75%; }
#radio-4:checked ~ .slider__container .descr-4 { opacity: 1; }
#radio-4:checked ~ .controls label[for="radio-4"]::after { background: transparent; }

@media only screen and (min-width: 768px) {
    .slider {
        row-gap: 3rem;
        grid-template-rows: 1fr minmax(min-content, 5rem);
    }
    .controls {
        position: absolute;
        justify-content: flex-end;
        inset: auto 0 0 auto;
    }
    .descr {
        padding-inline: 1rem 20rem;
        align-items: flex-end;     
    }
    .controls label::after {
        border-width: 3px;
    }
}